$md-screen: 767px;
$lg-screen: 1024px;

.container-header {
    background-image: url(../../img/large-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,140,116, .7); // Tint color
    background-blend-mode: multiply;
    padding-top: 7.8125em;
    transform: skewY(-4deg);
    transform-origin: top left;

    .row .text-center {margin: 0 auto;}

    @media all and (min-width: $md-screen) {
        min-height: 728px;
        padding-top: 8.8125em;
    }

    .container {
        transform: skewY(4deg);

        @media all and (min-width: $md-screen) {
            margin-top: 150px;
        }
    }
}

.sidebar {
    .sidebar__element {
        margin-bottom: 1em;
    }
    ol {
        list-style: decimal; 
        line-height: unset !important;
        padding: 0 30px 15px;
        @media all and (min-width: $md-screen) {
            padding: 0;
        }
    }
}

.news-article-snippet {
    @media all and (min-width: $md-screen) {
        height: 450px;
        overflow: hidden;
    }
}

.container-blog-single {
    padding-top: 0;
    .container-single-header {
        background: linear-gradient(to right, #008c74 0%, #004c66 100%);
        padding: 7.8125em 0;
        margin-bottom: 4.6875em;
        text-align: center;
        transform: skewY(-4deg);
        transform-origin: bottom left;
        h1 {
            margin: 65px 0 0;
            transform: skewY(4deg);
        }
        
    }
    .post {
        max-width: 900px;
        margin: 0 auto;
        
        p {
            width: 100%;
            margin-left: 0;
            padding: 0;
        }
        img {
            &.alignleft {float: left; clear: left; margin: 10px 10px 20px 0;}
            &.alignright {float: right; clear: right; margin: 10px 0 20px 10px;}
        }
    }
}