$md-screen: 767px;
$lg-screen: 1024px;

.container-header {
    background-image: url(../../img/large-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,140,116, .7); // Tint color
    background-blend-mode: multiply;
    padding-top: 7.8125em;
    transform: skewY(-4deg);
    transform-origin: top left;

    @media all and (min-width: $md-screen) {
        min-height: 728px;
        max-height: 728px;
    }
    .container {
        transform: skewY(4deg);
    }
}

.container-summary {
    padding-top: 7.8125em;
    transform: skewY(-4deg);
    transform-origin: top left;
    .container {
        transform: skewY(4deg);
    }
}

.container-logos {
    padding: 4.6875em 0;
    max-height: 1024px;
    overflow-y: scroll;
    transform: skewY(-4deg);
    transform-origin: top left;
    .container {
        width: 100%;
        transform: skewY(4deg);
    }
    .partner-logos {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        padding: 15px;
        margin: 0;

        @media all and (min-width: $md-screen) {
            grid-template-columns: auto auto;
        }

        @media all and (min-width: $lg-screen) {
            grid-template-columns: auto auto auto;
        }

        img {
           margin: 30px auto;
           max-width: 150px;
           max-height: 60px;
           opacity: 0;

           &.show {
               animation: fadeIn .5s linear 0s 1 forwards;
           }
        }
    }
}

.boxed {
    display: none;
    transform: skewX(-20deg);
    overflow: visible;
    border: solid 5px white;

    @media all and (min-width: $md-screen) {
        display: block;
    }  

    .boxed-text {
        transform: skewX(30deg); 

        span:nth-of-type(1) {
            font-style:italic;
            font-size: 200px;
            transform: skewX(30deg);
            font-family: serif;
            font-weight: bold;
            line-height: 78px;
        }
        span:nth-of-type(2) {
            font-size: 188px;
            transform: skewX(30deg);
            font-family: 'Poppins', sans-serif;
            line-height: 133px;
        }
        span:nth-of-type(3) {
            font-style:italic;
            font-size: 140px;
            transform: skewX(30deg);
            font-family: serif;
            line-height: 75px;
            margin-left: -13px;
            letter-spacing: -13px;
        }
        
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}