$md-screen: 767px;
$lg-screen: 1024px;

.container-header {
    background-image: url(../../img/large-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,140,116, .7); // Tint color
    background-blend-mode: multiply;
    padding-top: 7.8125em;
    transform: skewY(-4deg);
    transform-origin: top left;

    .row .text-center {margin: 0 auto;}

    @media all and (min-width: $md-screen) {
        min-height: 728px;
        padding-top: 8.8125em;
    }

    .container {
        transform: skewY(4deg);

        @media all and (min-width: $md-screen) {
            margin-top: 150px;
        }
    }
}

.container-shop {
    
    .product-table {
        margin-top: 50px;
        input[name], input[email] {
            width: 100%;
        }
        h6 {

        }
        hr {
            margin: 1em 0;
        }
        .form-body {
            display: inline-block;
            margin: 0;
        }
    }
    table.variations {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 1em;

        tr td {
            border: 0;
            padding: 0.857em 1.387em;
            border-right: 1px dotted rgba(0, 0, 0, 0.1);
            text-align: left;
            vertical-align: top;
        }

        select {
            max-width: 100%;
            height: auto;
            line-height: normal;
        }

        option {
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }

        label, .label {
            color: #666666;
            display: block;
            font-size: 1em;
            line-height: normal;
        }
    }

    .modal {
        .modal-dialog {
            @media all and (min-width: $md-screen) {
                width: $md-screen;
            }

            @media all and (min-width: $lg-screen) {
                width: 900px;
            }

        }
        .modal-body{
            height: 650px;
            overflow-y: scroll;
        }
        .modal-footer {
            .btn {
                margin: 0 15px;
            }
        }
    }

    #form-success {
        display: none;
        h3 {
            text-align: center;
            position: relative;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}